
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    /* background-color:hwb(11 85% 4%); */
    background-image: url(image/developer.png),url(image/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,right bottom;

}
nav{
display: flex;
justify-content: space-between;
padding: 30px 20px;
margin: 0 100px ;
}
ul{
    display: flex;
    gap: 20px;
}
.N-div{
    display: flex;
    gap: 20px;
    
}
.N-btn{
    height: 55px;
    width: 150px;
    color: white;
    font-weight: bold;
    padding: 3px;
    font-size: 20px;

}
nav h1{
    font-weight:800;
    font-size: 45px;
    color: rgb(16, 16, 16);
}
nav ul li{ 
    padding: 15px 10px;
}
nav ul li a{
    color:rgb(85, 84, 84) 
}
.N-btn{
    height:64px 150px ;
    border: none;
    border-radius: 2px;
}
.o-color{
background-color:rgb(255, 69, 0);
}
.s-color{
    color:rgb(255, 69, 0);
} 
.last-btn{
    background-color:rgb(255, 69, 0);
    color: white;
    width: 279px;
    height: 65px;
    font-size: 26px;
    border: none;
    border-radius: 10px;
    margin-left: 42%;
}

 /* =====nav end==== */
 .banner{
    display: flex;
    gap:100px;
    margin:60px 30px 0px 200px;

 }
 
 .banner-content{
   
   width: 700px;
    /* border: 2px solid black; */
    padding:150px 50px 50px 50px ;
  
 }
 .banner img{
    height: 550px;
 }
 .banner-greetings{
    font-weight: 400;
    font-size: 45px;
    color: rgb(59, 57, 57);
    margin-bottom: 10px;

 }
 .person-name{
    font-weight: 900;
    font-size:85px;
    color: rgb(22, 22, 22);
    margin-bottom: 20px;
 }
 .banner-des{
    font-size: 18px;
    color: gray;
    margin-bottom: 30px;
 }
 .btn-primary{
    height: 64px;
    width: 200px;
    color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
 }
 .btn-primary2{
    height: 64px;
    width: 200px;
    color:rgb(255, 69, 0); 
    border: 1px solid rgb(255, 69, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
 }
 /* ====header end=== */
 .about-container{
    margin: 80px auto;
    padding: 30px;
    width: 1000px;
    /* border: 2px solid; */
    background-color:#FFF8F3;
 }
 .main{
    /* border: 2px solid; */
    margin: 50px;
    padding: 20px;
    text-align: center;
    background-color: white;
 }
 .main h1{
    font-size: 35px;
 }
 .small-divs{
    display: flex;
    margin: 35px 80px 25px 80px;
    gap: 35px;
    font-size: 18px;

 }
.small-divs h5{

    color: rgba(128, 128, 128,0.7);

}
/* ====ABOUT END=== */
.work-details{
    text-align: center;
    margin: 90px 250px;
}
.work-details h2{
    font-size: 35px;
}
.work-details p{
    font-size: 18px;
     color: rgba(128, 128, 128,0.7);

}
/* ==work end== */
.skills{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color:rgba(232, 229, 229, 0.3);
    margin: 50px 90px;
}
.card{
    padding: 25px;
    height: 300px;
    background-color: white;
    margin:0 20px;
    border-radius: 2px;
    
}
/* =====end== */

.resume{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px;
}
.resu-m{
    display: flex;
    gap: 20px;
    margin: 70px 150px;
}
.main1{
    
    height: 500px;
}
.main1 h2{
    color: rgb(39, 39, 39);
    font-size: 30px;
}
.box h3{
  color: rgb(39, 39, 39);
    font-size: 25px;  
}
.box h4{
    color: rgb(129, 127, 127);
    font-size: 20px;  
}
.box p{
    color: rgba(129, 127, 127,0.4);
    font-size: 20px;
}
footer{
    display: flex;
    height: 400px;
    gap: 30px;
    background-color: antiquewhite;
    padding: 30px;
    margin-top: 20px;

}
footer h1{
    opacity: 0.8;
}
.f-box1{
   width: 500px;
   /* border: 2px solid; */
   padding: 20px;
   margin-left: 13%;

}
.f-box1 p{
    opacity: 0.5;
    margin-top:20px ;
}
.f-box2{
   width: 450px;
   /* border: 2px solid; */
   padding: 20px;

}
.f-box2 input{
    margin-top: 20px;
    padding: 10px 20px 10px 87px;
    border-radius: 7px;
    border: none;
}
.f-box2 textarea{
    margin-top: 20px;
    border-radius: 7px;
    padding: 5px;
    border: none;
}
 .hide{
    display: none;
 }
 @media screen and (max-width:576px){
    header{
        background-image: none;
        width: 80%;

    }
    .banner-img{
        width:100%;
        margin-left: 30px;
        
        
    }
    .banner-img img{
        height: 350px;
        width:100%;

    }
    nav{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }
    .skills{
        flex-direction: column;
        padding: 10px;
        margin: 20px;
    }
    .last-btn{
        margin-left: 30%;
        height: 45px;
        width: 170px;
     
       font-size: 18px;
    }
    .banner{
        flex-direction: column;
        width: 80%;
        padding: 10px;
        margin: 5px;
    }
    .banner h4{
        font-size: 25px;
    }
    .banner-content{
        width: 50%;
        flex-direction: column;
    }
    .banner h1{
        font-size: 35px;
    }
      .resume h1{
        font-size: 24px;
      }
    .resu-m{
        flex-direction: column;
        margin: 20px;
        
        padding: 20px;
        
    }
    .main1{
        height: auto;
       
    }
    .main1 p{
        font-size: 12px;
    }
    .main1 h2{
        font-size: 18px;
    }
    .box h3{
        font-size: 12px;
    }
    .box h4{
        font-size:13px ;
    }
    .work-details{
        margin: 40px;
        padding: 40px;
        background-color: antiquewhite;
       
    }
    .work-details h2{
        font-size: 20px;
    }
    .work-details p{
        font-size: 12px;
    }
    .about-container{
       
       width: 97%;
       padding: 10px;
       margin: 5px;
      
    }

 .main h1{
           font-size: 14px;
           }
           .main p{
            font-size: 12px;
           }
    
    .small-divs{
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        gap: 3px;
    }
    .small-divs h4{
        font-size: 12px;
    }
    .small-divs h5{
        font-size: 12px;
    }
    footer{
        flex-direction: column;
        height: auto;
    }
    footer h1{
        font-size: 16px;
    }
    footer p{
        font-size: 12px;
        
    }
    .banner-content{
        margin-left: 50px;
    }
    .banner-content p{
        font-size: 12px;
    }
    .btn-primary{
        width: 120px;
        height: 50px;
        font-size: 14px;
    
    }
    .btn-primary2{
        width: 120px;
        height: 50px;
        font-size: 14px;
        margin: 0 ;
        margin-top: 10px;
    }
    .f-box1 {
        width: 80%;
        
    }
    .f-box2 {
   width:80%;
       
    }

 }


 @media  and (max-width:576px)( min-width:992px) {
    
 }